fastapi
uvicorn
transformers
torch
pydantic
python-multipart
black
flake8
javalang
peft
bitsandbytes
accelerate
datasets
scipy
evaluate
rouge_score
sacrebleu
bert_score
radon
lizard
scikit-learn
xgboost
PyGithub
streamlit
pandas
plotly
